<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/pricing/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>AutoFarmer</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/site.css" rel="stylesheet">


  </head>

  <body class="bg-light">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">AutoFarmer</h5>
      <nav class="my-2 my-md-0 mr-md-3">
      </nav>
    </div>


    <div class="container">
      <div class="card-deck mb-3">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Temperature</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><span id="tempLabel"></span> <small class="text-muted">°C</small></h1>
          </div>
          <canvas id="gaugeTemperature" width="100%"></canvas>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Humudity</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><span id="humudityLabel"></span> <small class="text-muted"> %</small></h1>
          </div>
          <canvas id="gaugeHumudity" width="100%"></canvas>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Live Broadcast</h4>
          </div>
          <div>
              <a href="https://lachrymose-shrew-7957.dataplicity.io/cstream">
              <img style="width:100%;height: 250px;background-color: black" src="https://lachrymose-shrew-7957.dataplicity.io/cstream"/>
              </a>
          </div>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="card-deck mb-3">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 1</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg1">
                <label for="switch-lg1"></label>
              </span>
            </div>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 2</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg2">
                <label for="switch-lg2"></label>
              </span>
            </div>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 3</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg3">
                <label for="switch-lg3"></label>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 1</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg4">
                <label for="switch-lg4"></label>
              </span>
            </div>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 2</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg5">
                <label for="switch-lg5"></label>
              </span>
            </div>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plug 3</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <span class="switch switch-lg">
                <input type="checkbox" class="switch" id="switch-lg6">
                <label for="switch-lg6"></label>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="container">
        <div class="card-deck mb-3">
  
          <div class="card mb-12 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Motors</h4>
            </div>
            <div class="card-body">
                <form class="form-inline mb-3">
                    <div class="form-group mb-2">
                        <label for="motor1" >Motor-1 - Speed : (<span id="motor_1_value">10</span>)</label>
                    </div>
                 </form>
                 <div class="form-group mb-2">
                    <button type="button" id="btnStopMotor1" class="btn btn-danger pull-right">Stop</button>
                    <div class="form-check" style="text-align: right;">
                      <input type="checkbox" class="form-check-input" id="motor1_Reverse">
                      <label class="form-check-label" for="motor1_Reverse">Reverse</label>
                    </div>
                    </div>
                  <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="0" class="slider" id="motor1Range">
                  </div>
            </div>
          </div>
        </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./assets/popper.min.js"></script>
    <script src="./assets/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./assets/holder.min.js"></script>
    <script src="./assets/gauge.js"></script>
    <script>
      var motor1Slider;
      var socket = io();
        //var socket = io.connect('https://lachrymose-shrew-7957.dataplicity.io/', {secure: true});

      $( document ).ready(function() {

        var opts = {
          lines: 12, // The number of lines to draw
          angle: 0.15, // The length of each line
          lineWidth: 0.44, // The line thickness
          pointer: {
            length: 0.9, // The radius of the inner circle
            strokeWidth: 0.035, // The rotation offset
            color: '#000000' // Fill color
          },
          colorStart: '#6FADCF',   // Colors
          colorStop: '#8FC0DA',    // just experiment with them
          strokeColor: '#E0E0E0',   // to see which ones work best for you
          generateGradient: true
        };
        
        //gauge 1
        var target = document.getElementById('gaugeTemperature'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 80; // set max gauge value
        gauge.animationSpeed = 32; // set animation speed (32 is default value)
        gauge.set(0); // set actual value

        //gauge 2
        var target2 = document.getElementById('gaugeHumudity'); // your canvas element
        var gauge2 = new Gauge(target2).setOptions(opts); // create sexy gauge!
        gauge2.maxValue = 100; // set max gauge value
        gauge2.animationSpeed = 32; // set animation speed (32 is default value)
        gauge2.set(0); // set actual value
        
        //socket.io
        socket.on('connect', function(){
          console.log('socket connected');
        });

        socket.on('humudityChanged', function(data){
            console.log('humudityChanged : ' + data);

            var received = JSON.parse(data);
            $("#tempLabel").text(received.temp);
            gauge.set(received.temp);
            gauge2.set(received.humidity);

            $("#humudityLabel").text(received.humidity);            
        });

        socket.on('motorStateChanged', function(data){
            console.log('motorStateChanged : ' + JSON.stringify(data));            
        });


        socket.on('disconnect', function(){
          console.log('socket disconnected');
        });

        //motor-1 output
        motor1Slider = document.getElementById("motor1Range");
        var motor1Label = document.getElementById("motor_1_value");
        motor1Label.innerHTML = motor1Slider.value; 

        // Update the current slider value (each time you drag the slider handle)
        motor1Slider.oninput = function() {
          motor1Label.innerHTML = this.value;
          var dir = $("#motor1_Reverse").is(':checked') ? "0" : "1";
          sendMotorData(1, this.value, dir);
        };

        $( "#btnStopMotor1" ).click(function() {
          var motorData = {
            motorNumber : 1
          };
          motor1Slider.value = 0;
          motor1Label.innerHTML = 0;
          socket.emit("stopMotor", motorData);           
        });

        //motor1 reverse checkbox 
        $("#motor1_Reverse").change(function() {
          var dir = this.checked ? "0" : "1";
          sendMotorData(1, motor1Slider.value, dir);
        });

      });
      
      function sendMotorData(motorNumber, speed, dir) {
        var motorData = {
            motorNumber : motorNumber,
            speed : speed,
            dir : dir
          };
          socket.emit("motorSpeedChanged", motorData);

      }



      </script>

    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  

  <div style="background-color: rgb(255, 143, 0); display: none; color: white; text-align: center; position: fixed; top: 0px; left: 0px; width: 100%; height: auto; min-width: 100%; min-height: auto; max-width: 100%; font: 12px &quot;Helvetica Neue&quot;, Helvetica, Arial, Geneva, sans-serif; cursor: pointer; padding: 5px;"><span style="color: white; font: 12px &quot;Helvetica Neue&quot;, Helvetica, Arial, Geneva, sans-serif;">You have turned off the paragraph player. You can turn it on again from the options page.</span><img src="chrome-extension://gfjopfpjmkcfgjpogepmdjmcnihfpokn/img/icons/icon-close_16.png" style="width: 20px; height: auto; min-width: 20px; min-height: auto; max-width: 20px; float: right; margin-right: 10px;"></div>
</body>
</html>